.header__link {
    display: flex;
    align-self: baseline;
    transition: .4s;
}

.header__link:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .header__link {
        margin-left: 27px;
    }
}