.profile__subtitle {
    margin-top: 16px;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 767px) {
    .profile__subtitle {
        text-align: center;
        margin-top: 14px;
        font-size: 14px;
        line-height: 17px;
    }
}
