.popup__form {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - (36px * 2));
    width: 100%;
    margin: 0 auto 37px;
}

@media screen and (max-width: 500px) {
    .popup__form {
        max-width: calc(100% - (22px * 2));
        margin: 0 auto 25px;
    }
}