.profile__button-add {
    max-width: 150px;
    width: 100%;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 2px;
    background-image: url(../../../images/button-add.svg);
    transition: .4s;
}
