.popup__button-submit {
    min-height: 50px;
    margin-top: 45px;
    border-radius: 2px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    transition: .4s;
}

@media screen and (max-width: 767px) {
    .popup__button-submit {
        min-height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}