.popup__button-submit {
    margin: 45px 0 0;
    padding: 0;
    min-height: 50px;
    color: #fff;
    border: 0;
    border-radius: 2px;
    background-color: #000;
    font-size: 18px;
    line-height: 22px;
    transition: .4s;
}

.popup__button-submit:hover {
    opacity: .8;
}

@media screen and (max-width: 767px) {
    .popup__button-submit {
        min-height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}